@{
    ViewBag.Title = "Usuário - Catálogo de Livros Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuário - Catálogo de Livros Online</h2>
<a href="/Home/Index">Voltar</a>
<hr />
<p class="paragrafo">
    Seja Bem-Vindo a seção do Usuário.
</p>
<br />
<p class="paragrafo">
    Essa seção foi criada para que pessoas especiamente como você venha a fazer parte de nosso sistema
    chamado <span class="bold">Catálogo de Livros Online</span>.
    Com esse sistema você poderá realizar diversas atividades afim de que possa personalizar seu próprio 
    Catálogo de Livros pessoal. Diversas atividades podem ser feitas como Cadastrar uma Nova Obra, 
    Alterar Obras já cadastradas, Ativar ou Desativar Obra(s) específica(s), Excluir Obra(s) específica(s),
    Pesquisar com diversos filtros por Obras específicas exibindo-a(s) na tela com todas as informações 
    pertinentes sobre a(s) mesma(s), e muito mais.
</p>
<p class="paragrafo">
    Caso você ainda não tenha se cadastrado como Usuário no <span class="bold">Catálogo de Livro</span> 
    clique <a href="/Usuario/CadastroUsuario">aqui</a> para obter um <span class="italic">Novo Cadastro</span>.
</p>
<p class="paragrafo">
    Caso você já tenha um cadastro no sistema <span class="bold">Catálogo de Livro</span> como Usuário 
    clique <a href="#">aqui</a> e siga os passos para <span class="italic">Entrar no Sistema</span>.
</p>