@{
    ViewBag.Title = "Obras - Catálogo de Livros Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obras - Catálogo de Livros Online</h2>
<hr />
<p class="paragrafo">
    Seja Bem-Vindo a seção de Obras.
</p>
<br />
<p class="paragrafo">
    A seção de Obras foi criada especialmente para você que já possue um cadastro no sistema 
    <span class="bold">Catálogo de Livros Online</span>. Essa seção é disponibilizada apenas para 
    pessoas cadastradas no sistema. Isto quer dizer que você já deu um grande passo em já estar
    aqui, pois todo o processo de criação de seu cadastro foi concluído com êxito.
</p>
<p class="paragrafo">
    O <span class="bold">Catálogo de Livros Online</span> quer parabeniza-lo por você ter se 
    associado ao Sistema Online.
</p>
<p class="paragrafo">
    Clique <a href="/Obra/CatalogoServicosFuncionalidades">aqui</a> para ser redirecionado para página de <span class="italic">Catálogo
    de Funcionalidades e Serviços</span> e poder usurfluir do seu mais novo sistema de catálogo de obras online feito
    especialmente para você.
</p>
