@{
    ViewBag.Title = "Home - Catálogo de Livros Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catálogo de Livros Online</h2>
<hr />
<p class="paragrafo">
    Seja Bem-Vindo ao sistema <span class="bold">Catálogo de Livros Online</span>.
</p>
<br />
<p class="paragrafo">
    O sistema chamado <span class="bold">Catálogo de Livros Online</span> é um sistema
    Online onde passoas como você poderá visitar quantas vezes quiser afim de se tornar 
    membro do mesmo. Cada pessoa poderá criar uma <span class="bold">Conta de Usuário</span> 
    única e usurfluir de um conjunto de <span class="italic">Funcionalidades</span> e 
    <span class="italic">Serviços</span> que o sistema disponibiliza.
</p>
<p class="paragrafo">
    Venha nos conhecer e criar sua Conta de Usuário no seu mais novo sistema de
    <span class="bold">Catálogo de Livros Online</span> totalmente gratuito.
</p>

